<div class="inline-container">
  <div class="word-container">
    <div class="word-info-container">
      <h1 class="title"><%= @word.name %></h1>
      <h2><%= @word.phonetic_translation %></h2>
      <p class="definition"><%= @word.definition %></p>
    </div>
    <div class="word-data-container">
      <div class="chart-container" id="chart-container" data-labels="<%= @songs_data.keys %>" data-usage="<%= @songs_data.values %>">
        <canvas id="usageChart" ></canvas>
      </div>
    </div>
    <div class="word-songs-container">
      <% @songs.each do |song| %>
      <div class="song-card <%= song.release_date.strftime('%b %Y').gsub(" ", "-").downcase %>">
        <img src="<%= song.artist.image %>" alt="" class="song-card-image">
        <div class="song-card-text">
          <p class="song-card-title"><%= song.artist.name %> - <%= song.name %> (<%= song.release_date.year %>)</p>
          <p class="song-card-content"><%= song.get_sentence_containing_word(@word).content %></p>
        </div>

      </div>
      <% end %>
    </div>
  </div>
  <div class="word-meta-info-container">
    <div class="word-quote-container">
      <p class="top-sentence">“<%= @top_sentence.content %>”</p>
      <p class="top-sentence-source"><%= @top_sentence.song.artist.name %> - <%= @top_sentence.song.name %></p>
    </div>
    <div class="word-firstsong-container">
      <p class="first-song"> Repéré dans <span class="first-song first-song-bold"> <%= @word.songs.count %> </span> chansons, 
        pour la première fois dans <span class="first-song first-song-bold"> <%= @songs.first.name%> </span>
        de <span class="first-song first-song-bold"> <%= @songs.first.artist.name %> </span>
      </p>
    </div>
  </div>
</div>






